.root {
  .close {
    position: absolute;
    top: 8px;
    right: 8px;
  }
  .content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .actions {
    display: flex;
    gap: 5px;
  }
}
